MAX_BOT = 60
DEVS = 5082955178
API_ID = 18371359
API_HASH = 44cbeb06cf3dcab22c45946c2ebee90d
BOT_TOKEN = 7675948496:AAGCC0NqdrCFC_ZpXcTA_omBr9AlbMXIQWU
OWNER_ID = 5082955178
BLACKLIST_CHAT = -1002125842026
RMBG_API = a6qxsmMJ3CsNo7HyxuKGsP1o
MONGO_URL = mongodb+srv://bocahhijau:bocahhijau@cluster0.aolcxbk.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGS_MAKER_UBOT = -1002210291479
